<!DOCTYPE html>
<html>
   <meta charset="utf-8">
   <head>
      <title>영상전문추천시스템</title>
      <link rel = "icon" href = "../../static/imgs/caret-right-square-fill.svg" type = "image/x-icon"> 
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <script type="text/javascript">
        window.history.pushState(null, "", window.location.href);
        window.onpopstate = function () {
        window.history.pushState(null, "", window.location.href);
          };
      </script>
       
    <body>
        <!--30초 이후 survey 이동
        <script>
            setTimeout(function(){window.location.href='https://www.tandfonline.com/doi/full/10.1080/13683500.2019.1650007'},30000);
        </script>
        -->
        <div id="container">
         
             <div class='row'>
                 <div class='col-sm-8'>
                     <div class="embed-responsive embed-responsive-16by9">
             <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uGCr8ZBBBOI"></iframe>
                     </div>
                 </div>
             </div>
             <div class='col-sm-8'>
             <br>
             <p>(ENG SUB) 하룻밤 새 사라진 '육교'…시청도 모른 '도둑 철거' (뉴스데스크/MBC) Overpass that has been gone overnight</p>
             <p style="size: 0.5em; color:gray">조회수 425,599회</p>
                 <hr width="939px" style="color: gray; margin-left: 0px;">
             <img alt width="48" src="https://yt3.ggpht.com/a/AATXAJzaVY6HZxLxVvumGmfeentnyF7o3ZGD4ws2I2bnHg=s48-c-k-c0xffffffff-no-rj-mo">
             <p style="font-weight: 600;">MBCNEWS</p>
             <p style="color: gray; size:0.3em">구독자 79.7만명</p>
             <p>어제까지만 해도 버젓이 있던 육교가 다음날 아침, 갑자기 사라졌다면 어떠실 것 같은가요?
             <br>
              경기도 남양주시에서 실제 벌어진 일입니다.
             <br>
             <p style="color:mediumblue; size:0.3em">#육교 #남양주 #아파트</p>
             <br>
             <br>
             <br>
             </p>
         </div>
         </div>
 
         <script>
            alert("영상 2분 시청 이후 코드를 설문조사 페이지에 입력해주세요.");
            
            setTimeout(function(){
                            alert('이동 후 페이지의 코드를 설문조사 페이지에 입력해주세요 :-)');
                            window.location.href = '../../code.html';            
                        }, 120000);
         
                    
         </script>
 
 </body>
</html>