<!DOCTYPE html>
<html>
   <meta charset="utf-8">
   <head>
      <title>영상전문추천시스템</title>
      <link rel = "icon" href = "../../static/imgs/caret-right-square-fill.svg" type = "image/x-icon"> 
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <script type="text/javascript">
        window.history.pushState(null, "", window.location.href);
        window.onpopstate = function () {
        window.history.pushState(null, "", window.location.href);
          };
      </script>
    <body>
        <!--30초 이후 survey 이동
        <script>
            setTimeout(function(){window.location.href='https://www.tandfonline.com/doi/full/10.1080/13683500.2019.1650007'},30000);
        </script>
        -->
        <div id="container">
             <div class='row'>
                 <div class='col-sm-8'>
                     <div class="embed-responsive embed-responsive-16by9">
             <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/y5g-PTeDkwY"></iframe>
                     </div>
                 </div>
             </div>
             <div class='col-sm-8'>
             <br>
             <p>BTS, Jimmy Fallon and The Roots Sing Dynamite</p>
             <p style="size: 0.5em; color:gray">조회수 728,980회</p>
                 <hr width="939px" style="color: gray; margin-left: 0px;">
             <img alt width="48" src="https://yt3.ggpht.com/a/AATXAJwxKCbp2La4ABpu5KQmRxSUS6Xjni4YrkwaTMlsXw=s88-c-k-c0xffffffff-no-rj-mo">
             <p style="font-weight: 600;">The Tonight Show Starring Jimmy Fallon</p>
             <p style="color: gray; size:0.3em">구독자 2600만명</p>
             <p>Jimmy and The Roots join RM, Jin, SUGA, j-hope, Jimin, V and Jung Kook of BTS for a performance of “Dynamite.”
                 <br>
                 The Tonight Show Starring Jimmy Fallon.  Stream now on Peacock: https://bit.ly/3gZJaNy
                 <br>
                 Subscribe NOW to The Tonight Show Starring Jimmy Fallon: http://bit.ly/1nwT1aN
                  <br>
                 Watch The Tonight Show Starring Jimmy Fallon Weeknights 11:35/10:35c
                  <br>
                 Get more The Tonight Show Starring Jimmy Fallon: https://www.nbc.com/the-tonight-show
     
             </p>
             <br>
             <br>
             <br>
             </div>
         </div>
 
         
         <script>
            alert("영상 2분 시청 이후 코드를 설문조사 페이지에 입력해주세요.");
            
            setTimeout(function(){
                            alert('이동 후 페이지의 코드를 설문조사 페이지에 입력해주세요 :-)');
                            window.location.href = '../../code.html';            
                        }, 120000);
         
                    
         </script>
 
 
 </body>
</html>