<!DOCTYPE html>
<html>
   <meta charset="utf-8">
   <head>
      <title>영상전문추천시스템</title>
      <link rel = "icon" href = "../../static/imgs/caret-right-square-fill.svg" type = "image/x-icon"> 
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   </head>
   <script type="text/javascript">
      window.history.pushState(null, "", window.location.href);
      window.onpopstate = function () {
      window.history.pushState(null, "", window.location.href);
        };
    </script>
   <body>
    <div id="container">
      <div class='row'>
          <div class='col-sm-8'>
              <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aUH6N1LjSb8"></iframe>
              </div>
          </div>
      </div>
      <div class='col-sm-8'>
         <br>
         <p>지하철 마스크 싸움 풀영상</p>
         <p style="size: 0.5em; color:gray">조회수 357,451회</p>
         <hr width="939px" style="color: gray; margin-left: 0px;">
         <img alt width="48" src="https://yt3.ggpht.com/a/AATXAJyLgsd2yLQoUdUT_31QtqihbLoQhZ7B4fp0rZcc-Q=s88-c-k-c0xffffffff-no-rj-mo">
         <p style="font-weight: 600;">버밍숑</p>
         <p style="color: gray; size:0.3em">구독자 168만명</p>
         <p>이날 오전 7시에 일어난 이 난투극은 50대로 보이는 남성이 마스크를 미착용 하자 시민들이 마스크를 
            <br>
            착용하라라며 뭐라하는 말을 듣자 화가나서 뭐라고 한 사람들을 폭행 및 난투로 이어짐
            <br>
            현재 난동을 일으킨 50대남성은 현행범으로 체포되었음
        <p style="color:mediumblue; size:0.3em">#폭행 #마스크 #지하철</p>
         <br>
         <br>
         <br>
        </p>
  </div>
  </div>

  
  <script>
   alert("영상 2분 시청 이후 코드를 설문조사 페이지에 입력해주세요.");
   
   setTimeout(function(){
                   alert('이동 후 페이지의 코드를 설문조사 페이지에 입력해주세요 :-)');
                   window.location.href = '../../code.html';            
               }, 120000);

           
</script>
   </body>
</html>
