<!DOCTYPE html>
<html>
   <meta charset="utf-8">
   <head>
      <title>영상전문추천시스템</title>
      <link rel = "icon" href = "../../static/imgs/caret-right-square-fill.svg" type = "image/x-icon"> 
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <script type="text/javascript">
        window.history.pushState(null, "", window.location.href);
        window.onpopstate = function () {
        window.history.pushState(null, "", window.location.href);
          };
      </script>
   <body>
       <!--30초 이후 survey 이동
       <script>
           setTimeout(function(){window.location.href='https://www.tandfonline.com/doi/full/10.1080/13683500.2019.1650007'},30000);
       </script>
       -->
       <div id="container">
            <div class='row'>
                <div class='col-sm-8'>
                    <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BDzw4pO-mOI"></iframe>
                    </div>
                </div>
            </div>
            <div class='col-sm-8'>
            <br>
            <p>[호러] 몰래카메라 - 광대살인마 1편 /코털미디어TV</p>
            <p style="size: 0.5em; color:gray">조회수 411,635회</p>
                <hr width="939px" style="color: gray; margin-left: 0px;">
            <img alt width="48" src="https://yt3.ggpht.com/a/AATXAJyt1uQ3ZC4j_F6Cg8uNBiEgyTsXNAh7EuoSkMTSkw=s88-c-k-c0xffffffff-no-rj-mo">
            <p style="font-weight: 600;">코털미디어</p>
            <p style="color: gray; size:0.3em">구독자 1.37천명</p>
            <p>
            재밌게 보셨다면 좋아요와 구독눌러주세요!!
            <br>
            매일매일 각종 미스테리/공포/호러 영상올립니다.
            <br>
            추천한 사용자: GreaterFoolMedia (M) ✅Pagliaccio Assassino! Scherzo Horror epico!
            <br>
            <br>
            <br>
        </p>
        </div>
        </div>

        <script>
            alert("영상 2분 시청 이후 코드를 설문조사 페이지에 입력해주세요.");
            
            setTimeout(function(){
                            alert('이동 후 페이지의 코드를 설문조사 페이지에 입력해주세요 :-)');
                            window.location.href = '../../code.html';            
                        }, 120000);
         
                    
         </script>
         


</body>
</html>