<!DOCTYPE html>
<html>
   <meta charset="utf-8">
   <head>
      <title>영상전문추천시스템</title>
      <link rel = "icon" href = "../../static/imgs/caret-right-square-fill.svg" type = "image/x-icon"> 
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <script type="text/javascript">
        window.history.pushState(null, "", window.location.href);
        window.onpopstate = function () {
        window.history.pushState(null, "", window.location.href);
          };
      </script>
   <body>
       <!--30초 이후 survey 이동
       <script>
           setTimeout(function(){window.location.href='https://www.tandfonline.com/doi/full/10.1080/13683500.2019.1650007'},30000);
       </script>
       -->
       <div id="container">
        <div class='row'>
            <div class='col-sm-8'>
                <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/68q-erPNyRo"></iframe>
                </div>
            </div>
        </div>
        <div class='col-sm-8'>
        <br>
        <p>[아라TV][아라TV]M&P 분해 설명 및 작동영상 입니다.</p>
        <p style="size: 0.5em; color:gray">조회수 4,421회</p>
            <hr width="939px" style="color: gray; margin-left: 0px;">
        <img alt width="48" src="https://yt3.ggpht.com/a/AATXAJyXeO0B8ZBfr7iwuB4oEeFi7UUEZ68hHLLRez9DjzE=s88-c-k-c0xffffffff-no-rj-mo">
        <p style="font-weight: 600;">아라티비</p>
        <p style="color: gray; size:0.3em">구독자 7.15천명</p>
        <p>
            반가워요 아라TV(AraTv) 입니다.  
            <br>
            간단하게 작동 설명 및 분해 영상올립니다.
            <br>
            도면필요하신 분은 구독 좋아요 누르신 후
            <br>    
            http://blog.naver.com/pause1lee/22102...
            <br>
            에 가셔서 다운 받으시면 됩니다.
            <br>

            저의 블로그 입니다 ^^
        <br>
        <br>
        <br>    
        </p>
    </div>
    </div>

    
    <script>
        alert("영상 2분 시청 이후 코드를 설문조사 페이지에 입력해주세요.");
        
        setTimeout(function(){
                        alert('이동 후 페이지의 코드를 설문조사 페이지에 입력해주세요 :-)');
                        window.location.href = '../../code.html';            
                    }, 120000);
     
                
     </script>
</body>
</html>