<!DOCTYPE html>
<html>
   <meta charset="utf-8">
   <head>
      <title>영상전문추천시스템</title>
      <link rel = "icon" href = "../../static/imgs/caret-right-square-fill.svg" type = "image/x-icon"> 
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <script type="text/javascript">
        window.history.pushState(null, "", window.location.href);
        window.onpopstate = function () {
        window.history.pushState(null, "", window.location.href);
          };
      </script>
   <body>
       <!--30초 이후 survey 이동
       <script>
           setTimeout(function(){window.location.href='https://www.tandfonline.com/doi/full/10.1080/13683500.2019.1650007'},30000);
       </script>
       -->
       <div id="container">
        <div class='row'>
            <div class='col-sm-8'>
                <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cHfkIS0vwfM"></iframe>
                </div>
            </div>
        </div>
        <div class='col-sm-8'>
        <br>
        <p>[전지적 참견 시점 선공개] 일상이 화보 아린이네 아침💕 소녀의 비밀정원을 소개합니다~</p>
        <p style="size: 0.5em; color:gray">조회수 2,931,938회</p>
            <hr width="939px" style="color: gray; margin-left: 0px;">
        <img alt width="48" src="https://yt3.ggpht.com/a/AATXAJzjiL_qtmK5x3vcEqXMkpOVgSF89CfC5P-n-bt9iA=s88-c-k-c0xffffffff-no-rj-mo">
        <p style="font-weight: 600;">MBCentertainment
        </p>
        <p style="color: gray; size:0.3em">구독자 764만명</p>
        <p>
            ★★★More 'Omniscient' clips are available★★★
        <br>
        iMBC
        <br>
        http://www.imbc.com/broad/tv/ent/omni...
        <br>
        WAVVE
        <br>
        https://www.wavve.com/player/vod?prog...
        <br>
        <br>
        <br>
        </p>
    </div>
    </div>

    
    
    <script>
        alert("영상 2분 시청 이후 코드를 설문조사 페이지에 입력해주세요.");
        
        setTimeout(function(){
                        alert('이동 후 페이지의 코드를 설문조사 페이지에 입력해주세요 :-)');
                        window.location.href = '../../code.html';            
                    }, 120000);
     
                
     </script>


</body>
</html>