<!DOCTYPE html>
<html>
   <meta charset="utf-8">
   <head>
      <title>영상전문추천시스템</title>
      <link rel = "icon" href = "../../static/imgs/caret-right-square-fill.svg" type = "image/x-icon"> 
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <script type="text/javascript">
        window.history.pushState(null, "", window.location.href);
        window.onpopstate = function () {
        window.history.pushState(null, "", window.location.href);
          };
      </script>
   <body>
       <!--30초 이후 survey 이동
       <script>
           setTimeout(function(){window.location.href='https://www.tandfonline.com/doi/full/10.1080/13683500.2019.1650007'},30000);
       </script>
       -->
       <div id="container">
        <div class='row'>
            <div class='col-sm-8'>
                <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/O-8bDNYT1Pw"></iframe>
                </div>
            </div>
        </div>
        <div class='col-sm-8'>
        <br>
        <p>2020년 버전 가로본능? 벨벳 후속작 LG WING은 성공할까? 기대점 및 걱정되는 점 총정리</p>
        <p style="size: 0.5em; color:gray">조회수 1,082,959회</p>
            <hr width="939px" style="color: gray; margin-left: 0px;">
        <img alt width="48" src="https://yt3.ggpht.com/a/AATXAJz1PscS2SQtmdkex97g-5_77LAqezs4ct5Gd0mrBQ=s88-c-k-c0xffffffff-no-rj-mo">
        <p style="font-weight: 600;">ITSub잇섭</p>
        <p style="color: gray; size:0.3em">구독자 148만명</p>
        <p> 
            곧 LG전자는 벨벳의 후속이자 하반기 전략 스마트폰인 LG WING을 공개할 예정입니다. 현재까지는 몇 가지의 유출된 정보가 있는데, 의외로 꽤 구체적인 정보들이 많아 개인적인 기대되는점 그리고 걱정되는 점을 총정리 해봤습니다.
            <br>
            <br>
◆ Spec(루머).
모델명 : LG WING
디스플레이 : 듀얼 스크린
프로세서 : 퀄컴 스냅드래곤 765G
후면카메라 : 3개 탑재 예정(광각, 초광각, 심도)
가격 : 109만 1200원(예상)
<br>
<br>

◆ Music.
Song: LAKEY INSPIRED - Chill Day (Vlog No Copyright Music)
Music provided by Vlog No Copyright Music.
Video Link: https://youtu.be/vtHGESuQ22s
<br>
<br>

◆ Tag.
#LGWING #벨벳 #후속작?
<br>
<br>

◆ 잇섭의 it 다잇섭
E-MAIL - kdsk3622@gmail.com
FACEBOOK - https://www.facebook.com/ITSubb/
INSTAGRAM - https://www.instagram.com/itsubb/

        <br>
        <br>
        <br>
        </p>
    </div>
    </div>

    
    
    <script>
        alert("영상 2분 시청 이후 코드를 설문조사 페이지에 입력해주세요.");
        
        setTimeout(function(){
                        alert('이동 후 페이지의 코드를 설문조사 페이지에 입력해주세요 :-)');
                        window.location.href = '../../code.html';            
                    }, 120000);
     
                
     </script>
</body>
</html>