<!DOCTYPE html>
<html>
   <meta charset="utf-8">
   <head>
      <title>영상전문추천시스템</title>
      <link rel = "icon" href = "../../static/imgs/caret-right-square-fill.svg" type = "image/x-icon"> 
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <script type="text/javascript">
        window.history.pushState(null, "", window.location.href);
        window.onpopstate = function () {
        window.history.pushState(null, "", window.location.href);
          };
      </script>
   <body>
       <!--30초 이후 survey 이동
       <script>
           setTimeout(function(){window.location.href='https://www.tandfonline.com/doi/full/10.1080/13683500.2019.1650007'},30000);
       </script>
       -->
       <div id="container">
        <div class='row'>
            <div class='col-sm-8'>
                <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TXj0gkpN_jU"></iframe>
                </div>
            </div>
        </div>
        <div class='col-sm-8'>
        <br>
        <p>＂관두면 되죠!＂ 스태프까지 비범한 명수네.. 내일 없이 사는 명수&스태프 꿀케미 모음 | ⏱#무한도전 #오분순삭</p>
        <p style="size: 0.5em; color:gray">조회수 265,601회</p>
            <hr width="939px" style="color: gray; margin-left: 0px;">
        <img alt width="48" src="https://yt3.ggpht.com/a/AATXAJybaayq6WJRd7Mlt9s9Aowqq0r8zYY6fkT1K8zbkQ=s88-c-k-c0xffffffff-no-rj-mo">
        <p style="font-weight: 600;">오분순삭</p>
        <p style="color: gray; size:0.3em">구독자 83.4만명</p>
        <p>
            *무한도전 다시 보기 
            <br>
            <br>
✔ WAVVE : 
<br>
https://www.wavve.com/player/vod.html...
<br>
✔ iMBC : 
<br>
http://playvod.imbc.com/Vod/VodPlay?b...
<br>
✔ 카카오페이지
(2006년~2015년) : https://page.kakao.com/home?seriesId=...
(2015년~2018년) : https://page.kakao.com/home?seriesId=...
<br>

#오분순삭 #무한도전 #박명수
        </p>
        <br>
        <br>
        <br>
        </div>
    </div>

    
    <script>
        alert("영상 2분 시청 이후 코드를 설문조사 페이지에 입력해주세요.");
        
        setTimeout(function(){
                        alert('이동 후 페이지의 코드를 설문조사 페이지에 입력해주세요 :-)');
                        window.location.href = '../../code.html';            
                    }, 120000);
     
                
     </script>

</body>
</html>